
main .section.commerce-forgot-password-bg-section {
    min-height: 60vh;
    background-image: var(--forgot-password-bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

main .section .commerce-forgot-password-wrapper,
main .section .default-content-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}


main .commerce-forgot-password {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    max-width: 640px;
    margin: 40px auto;
    box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
}

.commerce-forgot-password .auth-reset-password {
    background-color: #fff;
    box-shadow: 0 3px 20px rgb(0 0 0 / 20%);
    padding: 30px 20px;
    width: 100%;
}

.commerce-forgot-password .auth-reset-password-form {
    padding: 0;
}

.auth-reset-password-form__title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.auth-reset-password-form__title .dropin-header-container__title {
    font-weight: 600;
    line-height: 1.1;
    font-size: 2rem;
    margin: 0;
    letter-spacing: 0;
    color: #000;
}

.auth-reset-password-form__buttons {
    gap: 15px 20px;
}

.auth-reset-password-form__buttons .dropin-button--medium {
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    letter-spacing: 0;
}

.auth-reset-password-form__form__field {
  margin-bottom: 15px;
}


@media only screen and (min-width: 768px) {
    .commerce-forgot-password .auth-reset-password {
        padding: 36px;
    }

    .auth-reset-password-form__title {
        margin-bottom: 30px;
    }

    .auth-reset-password-form__title .dropin-header-container__title {
        font-size: 2.6rem;
    }

    .auth-reset-password-form__form__field {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .auth-reset-password-form__title .dropin-header-container__title {
        font-size: 3.2rem;
    }

    .auth-reset-password-form__buttons .dropin-button--medium,
    main .commerce-forgot-password .commerce-forgot-password-signup {
        font-size: 1.8rem;
    }
}
