.checkout__breadcrumbs .breadcrumbs {
    margin: 20px 0;
}

.checkout__page-title {
    border-bottom: 1px solid #aaa;
    text-transform: uppercase;
    padding: 0 0 15px;
    margin: 0 0 20px;
    font-weight: 600;
    line-height: 1.1;
    font-size: 2rem;
    color: #000;
    letter-spacing: 0;
}

@media (min-width: 768px) {
    .checkout__page-title {
        font-size: 2.6rem;
    }
}

@media (min-width: 1200px) {
    .checkout__page-title {
        font-size: 3.2rem;
    }
}

/* 2-Step Navigation Styling */
.checkout-progress-bar {
    margin: 0 0 20px;
    counter-reset: i;
    padding: 0;
    font-size: 0;
}

.checkout-step-btn {
    margin: 0 0 10px;
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 49.5%;
    cursor: pointer;
}

.checkout-step-btn::before {
    background: #f0f0f0;
    top: 18px;
    content: '';
    height: 6px;
    left: 0;
    position: absolute;
    width: 100%;
}

.checkout-step-btn:first-child {
    border-radius: 0;
}

.checkout-step-btn.active::before {
    background: #384c60;
}

.checkout-progress-bar .step-label {
    color: #000;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
    overflow-wrap: break-word;
    padding-top: 45px;
    text-transform: uppercase;
    width: 100%;
}

.checkout-step-btn.active .step-label {
    color: #384c60;
    font-weight: 700;
}

.checkout-progress-bar .step-label::before,
.checkout-progress-bar .step-label::after {
    background: #f0f0f0;
    border-radius: 50%;
    content: '';
    height: 36px;
    left: 50%;
    margin-left: -18px;
    position: absolute;
    top: 2px;
    width: 36px;
}

.checkout-progress-bar .checkout-step-btn.active .step-label::before {
    background: #384c60;
}

.checkout-progress-bar .step-label::after {
    background: #fff;
    height: 26px;
    margin-left: -13px;
    top: 7px;
    width: 26px;
    content: counter(i);
    counter-increment: i;
    color: #000;
    font-weight: 600;
    font-size: 1.6rem;
}

.checkout-progress-bar .checkout-step-btn.active .step-label::after {
    /* content: '\e610';
    font-family: 'icomoon';
    line-height: 1;
    font-size: 2.8rem; */
    color: #384c60;
}



@media only screen and (min-width: 768px) {
    .checkout-step-btn {
        max-width: 410px;
    }
}

.step-divider {
    color: #ccc;
    font-weight: bold;
}

.checkout-step-panel {
    display: none;
}

.checkout-step-panel.active {
    display: block;
}

.checkout-step-actions {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.checkout__content {
    display: flex;
    flex-direction: column;
    gap: var(--grid-4-gutters);
}

.checkout__merged-cart-banner {
    display: grid;
    grid-column: 1 / -1;
    align-items: start;
    grid-template-columns: auto;
}

.cart-order-summary__heading hr,
.cart-cart-summary-list__heading hr,
.cart-order-summary__coupons .cart-coupons__accordion hr,
.cart-order-summary__gift-cards .cart-coupons__accordion hr,
.checkout__heading .dropin-divider {
  display: none;
}

.cart-order-summary {
  background: #f0f0f0;
  margin-top: 0;
  padding: 20px;
}

.cart-gift-options-view .dropin-card {
  background: #f0f0f0;
  margin-top: 30px;
  padding: 20px;
  border: 0;
  border-radius: 0;
}

.cart-gift-options-view .dropin-card__content {
  padding: 0;
}

.cart-order-summary__heading,
.cart-cart-summary-list__heading {
  color: #000;
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.cart-order-summary__content {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 0;
  border-top: 1px solid #aaa;
  padding-top: 12px;
}

.cart-order-summary__label,
.cart-order-summary__price,
.cart-estimate-shipping__label,
.cart-estimate-shipping__price,
.checkout-estimate-shipping__label,
.checkout-estimate-shipping__price,
.cart-estimate-shipping__caption .cart-estimate-shipping__link {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  padding: 8px 10px;
  letter-spacing: 0;
}

.cart-order-summary__label,
.cart-estimate-shipping__label,
.checkout-estimate-shipping__label,
.cart-estimate-shipping__caption .cart-estimate-shipping__link {
  padding-left: 0;
}

.cart-order-summary__price,
.cart-estimate-shipping__price,
.checkout-estimate-shipping__price {
  padding-right: 0;
}

.cart-estimate-shipping__caption .cart-estimate-shipping__link {
  text-decoration: none;
}


.cart-order-summary__total {
  line-height: 3rem;
  padding-bottom: 3px;
  padding-top: 3px;
  margin: 20px 0 0;
  border-top: 1px solid #aaa;
}

.cart-order-summary__content .dropin-accordion-section__heading {
  padding: 20px 0;
  text-transform: uppercase;
  border-top: 1px solid #aaa;
  cursor: pointer;
  font-weight: 600;
}

.cart-order-summary__total .cart-order-summary__label,
.cart-order-summary__total .cart-order-summary__price {
  font-weight: 700;
}

.cart-order-summary__content .dropin-accordion-section__title,
.cart-gift-options-view .dropin-accordion-section__title {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
  letter-spacing: 0;
  color: #000;
}

.cart-gift-options-view .dropin-checkbox__description,
.cart-gift-options-view .dropin-checkbox__label {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  letter-spacing: 0;
}

.cart-gift-options-view .cart-gift-options-view__top {
  margin: 0;
}

.cart-gift-options-view .dropin-accordion-section__content-container .cart-gift-options-view__top {
  padding: 20px 0 0;
  border-top: 1px solid #aaa;
  margin-top: 20px;
}

.cart-gift-options-view.cart-gift-options-view--order .cart-gift-options-view--readonly .cart-gift-options-readonly__checkboxes p,
.cart-gift-options-view.cart-gift-options-view--order .cart-gift-options-view--readonly .cart-gift-options-readonly__checkboxes p:last-child {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    letter-spacing: 0;
    margin-bottom: 10px;
}

.cart-gift-options-view.cart-gift-options-view--order .cart-gift-options-view--readonly .cart-gift-options-readonly__checkboxes p:last-child {
    margin-bottom: 0;
    font-size: 14px;
}


@media only screen and (min-width: 768px) {
     .cart-order-summary__heading,
     .cart-cart-summary-list__heading {
    font-size: 2.4rem;
  }

  .cart-order-summary__content .dropin-accordion-section__title,
  .cart-gift-options-view .dropin-accordion-section__title {
    font-size: 1.8rem;
    line-height: 2.3rem;
  }

  .cart-order-summary__total {
    padding-bottom: 9px;
    padding-top: 9px;
  }
} 

.checkout-header h1 {
    margin: 0;
}

/* Block dividers */
.checkout__block.checkout__heading .dropin-header-container {
     position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

.checkout__shipping-form,
.checkout__payment-methods,
.checkout__delivery {
    margin: 40px 0;
}

.checkout__shipping-form {
    margin: 40px 0 0;
}

.checkout__billing-form {
    margin: 20px 0 40px;
}


.checkout__bill-to-shipping {
    margin-top: 20px;
}

.dropin-toggle-button__actionButton {
    padding: 0;
    border: 0;
    width: max-content;
    background-color: transparent;
}

.dropin-toggle-button__selected .dropin-toggle-button__actionButton {
    border: 0;
    background-color: transparent;
}

.dropin-toggle-button__content {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.3;
}

.checkout__place-order {
    width: max-content;
    margin-top: 20px;
}

.checkout__place-order .checkout-place-order {
    padding: 0;
}


/* Server error visibility */
.checkout__server-error {
    display: none;
}

/* Show when it contains actual error content */
.checkout__server-error:has(.dropin-illustrated-message) {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}

/* Safari fallback: show when not empty, but this may show empty divs briefly */
@supports not selector(:has(*)) {
    .checkout__server-error:not(:empty) {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
    }
}

/* Hide empty blocks */
.checkout__block:empty {
    display: none;
}

/* Hide main containers when there is a server error */
.checkout__content--error .checkout__merged-cart-banner,
.checkout__content--error .checkout__out-of-stock,
.checkout__content--error .checkout__login,
.checkout__content--error .checkout__shipping-form,
.checkout__content--error .checkout__bill-to-shipping,
.checkout__content--error .checkout__delivery,
.checkout__content--error .checkout__payment-methods,
.checkout__content--error .checkout__billing-form,
.checkout__content--error .checkout__terms-and-conditions {
    display: none !important;
}

/* Hide blocks with empty divs */
.checkout__out-of-stock:has(> :empty),
.checkout__merged-cart-banner:has(> :empty),
.checkout__delivery:has(> div:first-child:empty),
.checkout__bill-to-shipping:has(> :empty),
.checkout__gift-options:has(.cart-gift-options-view--readonly:empty) {
    display: none;
}

/* Hide aside containers when there is a server error */
.checkout__content--error .checkout__aside {
    display: none;
}


/* Hide the place order button when there is a server error */
.checkout__content--error .checkout__place-order {
    display: none;
}

.checkout__loader {
    align-items: center;
    background: var(--color-neutral-50);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.checkout__loader:empty {
    display: none;
}

/* Cart Summary */
.checkout__block .cart-cart-summary-list {
    background: #f0f0f0;
    margin-top: 30px;
    padding: 20px;
    border: 0;
    border-radius: 0;
}


/* temporary fix to hide the default cart heading */
[data-testid="default-cart-heading"] {
    display: none;
}

.cart-summary-list__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cart-summary-list__edit {
    font: var(--type-body-2-strong-font);
    letter-spacing: var(--type-body-2-strong-letter-spacing);
}

.checkout__block
.cart-cart-summary-list
.cart-cart-summary-list__footer-divider {
   display: none;
}

.checkout__block .dropin-cart-list__wrapper .dropin-cart-list__item:first-child {
    border-top: 1px solid #aaa;
}

/* Sign-in modal */
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#modal-form {
    width: 800px;
}

/* Address form */
.checkout__shipping-form .account-address-form-wrapper__title,
.checkout__shipping-form .dropin-header-container__title,
.checkout__billing-form .account-address-form-wrapper__title,
.checkout__billing-form .dropin-header-container__title,
.checkout-payment-methods__title h2,
.checkout-shipping-methods__title h3 {
    border-bottom: 1px solid #aaa;
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.3;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.checkout-login-form__heading {
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.checkout-login-form__heading .checkout-login-form__title h2 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.3;
    color: #000;
}

.checkout-login-form__heading-label,
.checkout-login-form__sign-in,
.checkout-login-form__sign-out,
.checkout-login-form__heading-label a,
a.checkout-login-form__link {
     line-height: 1.3;
    color: #000;
}

@media only screen and (min-width: 768px) {
    /* Address form */
.checkout__shipping-form .account-address-form-wrapper__title,
.checkout__shipping-form .dropin-header-container__title,
.checkout__billing-form .account-address-form-wrapper__title,
.checkout__billing-form .dropin-header-container__title,
.checkout-payment-methods__title h2,
.checkout-login-form__heading .checkout-login-form__title h2,
.checkout-shipping-methods__title h3 {
    font-size: 3.2rem;
}
}

.checkout__shipping-form .dropin-header-container .dropin-divider,
.checkout__billing-form .dropin-header-container .dropin-divider {
    display: none;
}



@media only screen and (min-width: 1024px) {
    .checkout__content {
        flex-direction: row;
        position: relative;
        width: 100%;
        justify-content: space-between;
    }

    .checkout__main {
        width: 75%;
    }

    .checkout__aside {
        margin: 0 0 25px;
        position: relative;
        width: 23%;
    }
}

@media only screen and (min-width: 768px) {
    .checkout__content--error {
        display: grid;
        grid-template-columns: 1fr;
    }
}


@media only screen and (min-width: 1200px) {
  .cart-order-summary__label,
  .cart-order-summary__price,
  .checkout-estimate-shipping__label,
  .checkout-estimate-shipping__price,
  .cart-estimate-shipping__label,
  .cart-estimate-shipping__price {
    font-size: 18px;
  }
}