footer {
    background-color: var(--color-dark-blue);
    border-top: 2px solid #384c60;
    color: white;
}

footer .footer > div {
    margin: auto;
    max-width: 1614px;
    padding: 40px 15px 25px;
    box-sizing: border-box;
}

footer .footer p {
    margin: 0;
}

.storeview-switcher-button {
    background: transparent;
    padding-left: 0;
}

.storeview-modal-storeview-title {
    margin-bottom: var(--spacing-xxbig);
    padding-inline-start: var(--spacing-xbig);
}

.modal .close-button {
    top: 40px !important;
    right: 40px !important;
}

.storeview-single-store {
    list-style-type: none;
}

.storeview-selection .storeview-multiple-stores {
    list-style-image: url("../../icons/chevron-right.svg");
    list-style-position: inside;
}

.storeview-selection > li {
    margin-bottom: var(--spacing-small);
}

.storeview-multiple-stores > ul {
    position: relative;
    width: 100%;
}

.storeview-multiple-stores > ul > li {
    list-style: none;
    display: none;
}

.storeview-multiple-stores[aria-expanded="true"] {
    list-style-image: url("../../icons/chevron-down.svg");
}

.storeview-multiple-stores[aria-expanded="true"] > ul {
    padding-left: 0;
}

.storeview-multiple-stores[aria-expanded="true"] > ul > li {
    display: block;
    list-style-type: none;
    margin-bottom: var(--spacing-small);
}


.footer-logo-address .default-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-logo-address .default-content-wrapper p {
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
    min-width: 135px;
    text-align: right;
}

.footer-logo-address .default-content-wrapper picture {
    max-width: 242px;
    width: 100%;
    display: block;
    margin-bottom: 12px;
}

.footer-logo-address .default-content-wrapper img {
   width: 100%;
   height: auto;
}

.footer-links .default-content-wrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-links .default-content-wrapper > ul {
   display: flex;
}

.footer-links .default-content-wrapper > ul > li {
    padding: 0 7px;
    width: 20%;
    margin-bottom: 30px;
}

.footer-right-container .default-content-wrapper p {
    padding: 0 5px;
    width: 50%;
}

.footer-right-container .default-content-wrapper p,
.footer-right-container .default-content-wrapper p a {
     font-size: 12px;
     line-height: 1.4;
     color: #fff;
     font-weight: 700;
}

.footer-links .default-content-wrapper > ul > li p {
   font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 15px;
    margin-top: 0;
}

.footer-links .default-content-wrapper ul li a {
    font-size: 14px;
    color: rgb(255 255 255 / 50%);
    display: block;
    margin-bottom: 2px;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0;
}

.footer-links .default-content-wrapper ul li a:hover {
    color: white;
}

.footer-wrapper .copyright {
    flex: 0 0 100%;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 20px;
}


.footer-right-container .default-content-wrapper {
    display: flex;
    margin: 0 -5px;
}

@media (max-width: 767px) {
    .footer-links {
        display: none;
    }

    .footer-wrapper .copyright {
        border-top: solid 1px #fff;
        margin-top: 25px;
        padding-top: 22px;
        text-align: center;
    }

    footer {
        margin-bottom: 50px;
    }
}

@media (max-width: 639px) {
   .footer-logo-address .default-content-wrapper p {
        font-size: .8rem;
    }

    .footer-right-container .default-content-wrapper p,
    .footer-right-container .default-content-wrapper p a {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    .footer-logo-address .default-content-wrapper p{
        font-size: 1.2rem;
        text-align: left;
    }

    .footer-links .default-content-wrapper > ul > li p {
        margin-bottom: 25px;
    }

    .footer-right-container  {
        display: flex;
    }

    .footer-right-container .default-content-wrapper {
        padding-left: 30px;
        width: 61%;
    }
    
}


@media (min-width: 1024px) {
    .footer-logo-address .default-content-wrapper {
        display: block;
        margin-bottom: 40px;
        width: 250px;
    }

    .footer-logo-address .default-content-wrapper p{
        text-align: left;
    }

    footer .footer > div {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .footer-links {
        width: calc(100% - 270px);
    }
}

@media (min-width: 1200px) {
    .footer-links {
        width: 45%;
    }

    .footer-right-container {
        display: block;
        width: 30%;
    }

    .footer-right-container .default-content-wrapper {
        padding-left: 0;
        width: 100%;
    }
}
